body {
    font-family: Arial, sans-serif;
}

.center {
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align: center;
    background-color: orange;
    height:25%;
}
    .center h1 {
        font-size: 44px;
    }

    .center h2 {
        font-size: 40px;
    }

.forum-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color: orange;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

    .box p {
        margin-top: 15px;
        color: black;
        font-size: 19px;
    }


